<a href="https://colab.research.google.com/github/financieras/bigdata/blob/main/task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task 1

## Tasl 1.1

### ¿Qué porcentaje de ofertas hay en Madrid?
* Total registros: 5423
* Contar Madrid: 2023
* Porcentaje Madrid: 37.30%

### ¿Qué ciudad está en el 10º lugar?
* Alicante (si consideramos `online` como si fura una city)
* Gipuzkoa (si el `online` no se considera una city)

In [2]:
!git clone https://github.com/financieras/bigdata.git

Cloning into 'bigdata'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (6/6), 126.74 KiB | 3.02 MiB/s, done.

In [3]:
import pandas as pd
pth = "bigdata/dataset_reto.csv"
df = pd.read_csv(pth)

In [4]:
df.shape        # nos da las dimensiones de la tabla

(5423, 7)

In [9]:
df.head()       # mustra las cinco primeras filas de la tabla

,Jobtitle,City,Date,Skills,Salary,Candidates,Copy
0,desarrollador/a php-moodl,Madrid,2022-09-30,"['php', 'lms', 'moodle', 'mysql']",31500.0,7,2022-10-02
1,analista programador spark/scala,Madrid,2022-09-30,"['scala', 'spark']",31500.0,0,2022-10-02
2,desarrollador de android,Madrid,2022-10-02,['android'],no disponible,2,2022-10-02
3,administrador/a microsoft azure - remoto,Online,2022-10-02,"['hyper v', 'azure', 'itil', 'mcafee', 'o365']",31500.0,22,2022-10-02
4,hardware test engineer (automoción),Tarragona,2022-10-02,"['python', 'testing']",no disponible,2,2022-10-02

In [7]:
df['Salary'].value_counts()

Salary
no disponible        3679
31500.0               112
34500.0               111
33000.0               111
39000.0               101
                     ...
5407.200000000001       1
5170.799999999999       1
7500.0                  1
10800.0                 1
68000.0                 1
Name: count, Length: 83, dtype: int64

In [10]:
df['Copy'].value_counts()

Copy
2022-11-27    2690
2022-11-13     395
2022-11-20     385
2022-10-16     369
2022-10-23     351
2022-10-02     326
2022-11-06     326
2022-10-30     291
2022-10-09     290
Name: count, dtype: int64

In [11]:
df['Jobtitle'].value_counts()[df['Jobtitle'].value_counts() == 9]

Jobtitle
it business analys    9
devops engi           9
frontend develop      9
Name: count, dtype: int64

In [14]:
df[df['Jobtitle'] == "analista programador xamarin for android"]

,Jobtitle,City,Date,Skills,Salary,Candidates,Copy
4228,analista programador xamarin for android,Madrid,2022-09-30,"['android', 'xamarin']",36000.0,13,2022-11-27