<a href="https://colab.research.google.com/github/financieras/dataframe/blob/main/pandas/010_series_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series

## 1. ¿Qué es una Serie?

Una Serie de Pandas es como una **columna en una hoja de cálculo**.  
Es un array de una sola dimensión que puede contener cualquier tipo de dato (números, texto, fechas, etc.).

La diferencia con las listas es que cada elemento tiene una etiqueta asociada, llamada **índice** (index).

Una serie se compone de dos partes:

  * **Valores (Values)**: La lista de datos en sí.
  * **Índice (Index)**: Las etiquetas que identifican a cada dato.

Si no especificamos un índice, Pandas creará uno numérico por defecto que empieza en 0.

In [1]:
# El primer paso siempre es importar la librería.
# La convención es usar el alias 'pd'.
import pandas as pd

## 2. Creación de Series

Podemos crear Series de Pandas de varias maneras.

### Ejemplo 1: A partir de una lista de Python

Es la forma más básica. Pandas asignará un índice numérico automáticamente.

In [3]:
# Creamos una lista
frutas_lista = ['Manzana', 'Naranja', 'Pera', 'Plátano']

# Creamos la Serie a partir de la lista
serie_frutas = pd.Series(frutas_lista)

serie_frutas

0    Manzana
1    Naranja
2       Pera
3    Plátano
dtype: object

### Ejemplo 2: Creando una Serie con un índice personalizado

Podemos definir nuestras propias etiquetas para el índice, lo que hace que los datos sean mucho más descriptivos. Para ello, usamos el argumento `index`.

In [4]:
# Datos de ventas y etiquetas para el índice
ventas_datos = [150, 200, 120, 310]
dias_semana = ['Lunes', 'Martes', 'Miércoles', 'Jueves']

# Creamos la Serie especificando ambos argumentos
serie_ventas = pd.Series(data=ventas_datos, index=dias_semana)

serie_ventas

Lunes        150
Martes       200
Miércoles    120
Jueves       310
dtype: int64

### Ejemplo 3: A partir de un diccionario de Python

Esta es una forma muy intuitiva. Pandas usará automáticamente:

  * Las **claves** del diccionario como el **índice**.
  * Los **valores** del diccionario como los **valores** de la Serie.

In [6]:
# Creamos un diccionario
poblacion_dict = {'Madrid': 3.3, 'Barcelona': 1.6, 'Valencia': 0.8}

# Creamos la Serie directamente desde el diccionario
serie_poblacion = pd.Series(poblacion_dict)

serie_poblacion

Madrid       3.3
Barcelona    1.6
Valencia     0.8
dtype: float64

## 3\. Reto Práctico: Puntuaciones de Películas

**Enunciado:** Crear una Serie llamada `puntuaciones_peliculas` que contenga las puntuaciones (del 1 al 10) de 4 películas, usando el título de la película como índice.

A continuación se muestran dos formas de resolverlo.

### Método 1: Usando un Diccionario

Este método es muy claro y lógico. Primero se preparan los datos en estructuras de Python (listas), luego se combinan en un diccionario y, finalmente, se crea la Serie.  
Es una solución excelente por su legibilidad.

In [8]:
# 1. Definimos las listas
titulos = ["Psycho", "Gladiator", "Amélie", "Inception"]
puntuaciones = [8.7, 9.1, 8.3, 9.0]

# 2. Combinamos las listas en un diccionario
dic_films = dict(zip(titulos, puntuaciones))

# 3. Creamos la Serie a partir del diccionario
puntuaciones_peliculas = pd.Series(dic_films)

puntuaciones_peliculas

Psycho       8.7
Gladiator    9.1
Amélie       8.3
Inception    9.0
dtype: float64

### Método 2: Directamente desde Listas

Esta es la forma más "nativa" de Pandas cuando ya tienes los datos en listas separadas.  
Se evita el paso intermedio de crear el diccionario, haciendo el código un poco más conciso.  
Se usan los argumentos `data` e `index`.

In [9]:
# 1. Definimos las listas
titulos = ["Psycho", "Gladiator", "Amélie", "Inception"]
puntuaciones = [8.7, 9.1, 8.3, 9.0]

# 2. Creamos la Serie directamente desde las dos listas
puntuaciones_peliculas_directo = pd.Series(data=puntuaciones, index=titulos)

puntuaciones_peliculas_directo

Psycho       8.7
Gladiator    9.1
Amélie       8.3
Inception    9.0
dtype: float64